<div class="code code-fragment">
  <p><span class="code-keyword">class</span> Foo</p>
  <div class="code-class-body">

    <p id="usage-demo"></p>
    <br>

    <p><span class="code-keyword">def</span> <span class="code-method-name">self.baz</span></p>
    <span class="code-method-body">
      <p class="code-comment"># some class-level works goes here...</p>
    </span>
    <p class="code-keyword">end</p>
    <br>

    <p><span class="code-keyword">def</span> <span class="code-method-name">bar</span></p>
    <span class="code-method-body">
      <p>data <span class="code-keyword">=</span> something_heavy</p>
      <p>arranged_data <span class="code-keyword">=</span> something_lighter(<span class="code-argument">data</span>)</p>
      <p>compute(<span class="code-argument">arranged_data</span>)</p>
    </span>
    <p class="code-keyword">end</p>
    <br>

    <p class="code-keyword">private</p>

    <br>
    <p><span class="code-keyword">def</span> <span class="code-method-name">something_heavy</span></p>
    <span class="code-method-body">
      <p class="code-comment"># some querying goes here...</p>
    </span>
    <p class="code-keyword">end</p>
    <br>

    <p><span class="code-keyword">def</span> <span class="code-method-name">something_lighter</span>(<span class="code-argument">data</span>)</p>
    <span class="code-method-body">
      <p class="code-comment"># some data wrangling goes here...</p>
    </span>
    <p class="code-keyword">end</p>
    <br>

    <p><span class="code-keyword">def</span> <span class="code-method-name">compute</span>(<span class="code-argument">arranged_data</span>)</p>
    <span class="code-method-body">
      <p class="code-comment"># some machine learning stuff goes here...</p>
    </span>
    <p class="code-keyword">end</p>

  </div>
  <p class="code-keyword">end</p>
</div>


<script>
    new TypeIt('#usage-demo', {
        strings: [
            "<p><span><span class='code-keyword'>include</span> Timeasure</span></p>",
            "<p><span>tracked_instance_methods <span class='code-symbol'>:bar</span>, <span class='code-symbol'>:something_heavy</span>, <span class='code-symbol'>:something_lighter</span>, <span class='code-symbol'>:compute</span></span></p>",
            "<p><span>tracked_class_methods <span class='code-symbol'>:baz</span></span></p>",
        ],
        speed: 80,
        loop: false,
        loopDelay: 200,
        lifeLike: true,
        autoStart: false
    });
</script>