<!DOCTYPE html>
<html>
<head>
  <link href="https://d26b395fwzu5fz.cloudfront.net/keen-dataviz-1.1.3.css" rel="stylesheet"/>
  <title>Timeasure Demo</title>
</head>

<body class="skin-blue sidebar-mini">
<h1>Timeasure</h1>
<h2>Transparent method-level wrapper for profiling purposes</h2>
<h3>Live demo</h3>

<%= button_to 'Test demonstrate_single', home_demonstrate_single_path, method: :post %>


<div id="keen-example-chart"></div>

<script>
    loadAnalytics()
</script>
</body>
</html>
