<!DOCTYPE html>
<html>
<head>
  <title>Timeasure Demo</title>
</head>

<body>
<h1>Timeasure</h1>
<h2>Transparent method-level wrapper for profiling purposes</h2>
<h3>Live demo</h3>

<%= button_to 'Trigger events', home_action_path, method: :post %>

</body>
</html>
