<!DOCTYPE html>
<html>
<head>
  <title>Timeasure Demo</title>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>

<body>

<nav class="navbar navbar-expand sticky-top navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#header-container">HELLO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#what-is-timeasure">WHAT IS TIMEASURE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#motivation">MOTIVATION</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#live-demo">LIVE DEMO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#configuration">CONFIGURATION</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid" id="header-container">
  <div class="row">
    <i class="fa fa-hourglass-start fa-3x" aria-hidden="true"></i>
  </div>
  <div class="row">
    <p class="title">TIMEASURE</p>
  </div>
  <div class="row">
    <p class="subtitle">Measure the runtime of your Ruby code in production, easily.</p>
  </div>
  <div class="row" id="social-media-buttons-row">
    <div class="col">
      <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
    </div>
    <div class="col">
      <a href="https://github.com/riskified/timeasure" class="github-button" data-icon="octicon-star" aria-label="Star riskified/timeasure on GitHub">Star</a>
    </div>
  </div>

  <div class="row product-value-intro" id="product-value-intro-header">
    <div class="col-3">
      <i class="fa fa-code fa-2x"></i>
    </div>
    <div class="col">
    </div>
    <div class="col-3">
      <i class="fa fa-area-chart fa-2x"></i>
    </div>
    <div class="col">
    </div>
    <div class="col-3">
      <i class="fa fa-thumbs-up fa-2x"></i>
    </div>
  </div>
  <div class="row product-value-intro">
    <div class="col-3">
      Track specific methods in your application with Timeasure's elegant class macros
    </div>
    <div class="col align-middle">
      <i class="fa fa-arrow-circle-right fa-2x"></i>
    </div>
    <div class="col-3">
      Report the collected timing data to an analytics framework of your choice (NewRelic, Google Analytics, Keen...)
    </div>
    <div class="col">
      <i class="fa fa-arrow-circle-right fa-2x"></i>
    </div>
    <div class="col-3">
      Make informed decisions and aim at the most beneficial runtime optimization tasks
    </div>
  </div>
</div>

<div class="container-fluid" id="what-is-timeasure">
  <p class="section-title">WHAT IS TIMEASURE</p>
  <div class="section-content">
    <p>Timeasure is a Ruby gem that allows measuring the runtime of methods in production without having to alter the
      code of the methods themselves.
      To achieve that, Timeasure offers elegant class macros, similar in syntax to
      Ruby's <span class="code">attr_accessor</span> or Rails' <span class="code">validates_uniquness_of</span>.</p>
    <p>Timeasure handles the runtime measurement of declared tracked methods - whatever to do with the measurements is
    for the user to configure. It is recommended to report the timing data to some profiler
      and eventually - perhaps at the end of each transaction - to an analytics framework that allows insights gathering.
      Timeasure was designed with <a href="https://insights.newrelic.com/" target="_blank">NewRelic insights</a> as the "<i>inspiration
      on the other end</i>", but it is generic enough to fit to other analytics frameworks.</p>
    <p>Below is a possible usage of Timeasure within a given class.
      Notice how the declaration of which methods to track only changes the code at the top of the class while the
      tracked methods remain intact:</p>
  </div>
  <%= render 'code_example' %>
</div>

<div class="container-fluid" id="motivation">
  <p class="section-title">MOTIVATION</p>
  <div class="section-content">
    <p>
      We strive to build fast and efficient web applications and web services.
      The need for speed might derive from contractual obligations, ongoing product improvement efforts,
      or the very desire to write better code.
      Measuring the production runtime of different methods in different classes and analyzing this data is crucial
      in the process of optimizing the agility of any application's backend parts.
    </p>
    <p>
      Timeasure was created in order to make the collection of this data easy and organized.
      Instead of modifying the methods you wish to measure, handling the results of measurements and along the way
      indenting many lines of code, Timeasure offers simple class macros that help with separating the concern of
      methods measurement from the methods themselves.
    </p>
  </div>
</div>

<div class="container-fluid" id="live-demo">
  <p class="section-title">LIVE DEMO</p>
  <p>To demonstrate Timeasure's abilities, this page was actually built as part of a Rails mock-app.</p>
  <p>The app includes some made-up code that employs Timeasure and reports the collected information live back to this view.</p>
  <br>
  <%= button_to 'Trigger Demo Job', home_demonstrate_single_path, method: :post, remote: true, class: "btn btn-primary btn-lg" %>
  <br>
  <div id='reported-methods'>
    <table class="table table-striped" id='reported-methods-table'>
      <thead>
      <tr>
        <th scope="col" style="width: 220px">Time</th>
        <th scope="col" style="min-width: 200px">Method Name</th>
        <th scope="col" style="width: 220px">Runtime In Milliseconds</th>
      </tr>
      </thead>
      <tbody id='reported-methods-data'></tbody>
    </table>
  </div>
</div>

<div class="container-fluid" id="configuration">
  <p class="section-title">CONFIGURATION</p>
</div>
</body>
</html>
