body {
    font-family: "Avenir", Helvetica, Arial, sans-serif;;
    font-size: large;
    line-height: 2rem;
}

.navbar {
    height: 2.5rem;
    padding-left: 16rem;
    padding-right: 16rem;
    border-bottom: 1px solid #e2e2e2;
}

.nav-link {
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .15rem;
    margin-left: 1.2rem;
}

.container-fluid {
    padding-top: 4rem;
    padding-bottom: 7rem;
    padding-left: 16rem;
    padding-right: 16rem;
}

#header-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 0%;
    padding-left: 0%;
    align-content: center;
    align-items: center;
    line-height: initial;
}

.title {
    font-size: 3.5em;
    font-weight: 300;
    letter-spacing: 1.5rem;
}

.subtitle {
    font-size: 1.75em;
    font-weight: 300;
    letter-spacing: -.1rem;
}

#subheader {
    width: 500px;
}

#social-media-buttons-row{
    padding-bottom: 3rem;
}

.product-value-intro {
    width: 66%;
    text-align: center;
}

#product-value-intro-header {
    margin-bottom: 1rem;
}

.container-fluid:nth-child(even) {
    background: #f6f6f6;
}

.container-fluid:nth-child(odd) {
    background: #f1f1f1;
}

.section-content {
    width: 75%;
}

.section-title {
    margin-bottom: 2rem;
    letter-spacing: 0.25rem;
    font-weight: 600;
}

.section-sub-title {
    font-size: 0.7rem;
    margin-bottom: 0rem;
}

#reported-methods-table {
    width: 85%;
    font-size: medium;
}

.reported-method td {
    padding: 0.25rem;
    padding-left: 1.5rem;
}

.code {
    padding: 0.1rem;
    font-family: 'Menlo', monospace;
    font-size: small;
    line-height: 1rem;
    color: white;
    background-color: #272822;
}

.code-fragment {
    width: 75%;
    padding: 2em;
    border-radius: 8px;
}

.code-fragment p {
    margin: 0.3%;
}

.code-keyword {
    color: #f92672;
}

.code-symbol {
    color: #9775f0;
}

.code-method-name {
    color: #a1cd2a;
}

.code-argument {
    color: #f38820;
    font-style: italic;
}

.code-comment {
    color: #726f5c;
}

.code-class-body {
    padding-left: 2%;
}

.code-method-body {
    text-indent: 2%;
}